
.content {
    text-align: center;
    width: 100%;
    min-height: 600px;
}

.menu-el {
    text-align: center;
    display: inline-block;
    font-size: 26px;
    line-height: 50px;
    width: 230px;
    height: 60px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    margin: 0;
}

.menu-el:hover {
    background: #fff;
    color: #000;
}

.active-menu-el {
    background: #fff;
    color: #000;
}

#infoText, #hotelsText, #costsText, #photoText {
    margin: 0 auto;
    color: #000;
    text-align: left;
    max-width: 600px;
    font-size: 20px;
}

.background-sec {
    z-index: -2;
    width: 100%;
    background: url(https://wallpapertag.com/wallpaper/full/5/e/2/947381-free-download-siberia-wallpaper-1920x1080-for-samsung.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.sec-inner {
    z-index: 2;
    background: #fff;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

#infoText p, #hotelsText p {
    margin-top: 40px;
}

.non-active {
    display: none;
}

.active {
    display: block;
}

#map {
    width: 100%;
    height: 480px;
}

.hotel-pic {
    margin-top: 20px;
    display: block;
    height: 300px;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
}

.hotel {
     margin-top: 50px;
}

@media (max-width: 500px) {
    .menu-el {
        display: block;
        width: 100%;
    }
    
    #infoText, #hotelsText, #costsText, #photoText {
    width: 100%;
    }
    
    #hotelsText h3, #hotelsText img {
        width: 100%;
        height: auto;
    }
}